@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.spinnerContainer {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 200px;
  padding: $spacing-medium;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-small;
}

.spinnerCircle {
  width: 12px;
  height: 12px;
  margin: 0 $spacing-xxsmall;
  background-color: $color-primary;
  border-radius: 50%;
  animation: bounce 0.5s alternate infinite;

  &Delay {
    animation-delay: 0.2s;
  }

  &DelayMore {
    animation-delay: 0.4s;
  }
}

.spinnerText {
  color: $color-grey-dark-1;
  font-size: $font-size-medium;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}