@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.spinner-container {
  @include flex-center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: $spacing-medium;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-small;

  &__circle {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 $spacing-xxsmall;
    background-color: $color-primary;
    border-radius: 50%;
    animation: bounce 0.5s alternate infinite;

    &--delay {
      animation-delay: 0.2s;
    }

    &--delay-more {
      animation-delay: 0.4s;
    }
  }

  &__text {
    color: $color-grey-dark-1;
    font-size: $font-size-medium;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1rem);
  }
}